.calc-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.calc-grid {
  display: grid;
  height: 500px;
  width: 500px;
  background-color: #333;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px repeat(5, 1fr);
  grid-gap: 1px;
  border: 1px solid #333;
  overflow-x: hidden;
}

.calc-output {
  grid-column: 1 / span 4;
  grid-row: 1 / span 1;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1em;
  color: white;
  font-size: 2em;
  user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -webkit-user-select: text;
}

.calc-btn {
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.5em;
  cursor: pointer;
  color: #333;
  transition: 0.2s;
}

.calc-btn:hover {
  background-color: #f7f7f7;
  color: #000;
  transition: 0.2s;
}

.btn-ac {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
}

.btn-back {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
}

.btn-zero {
  grid-column: 1 / span 2;
}

.btn-divide, 
.btn-plus, 
.btn-minus, 
.btn-multi,
.btn-equal {
  background-color: rgb(255, 136, 0);
  color: white;
  font-weight: 400;
  font-size: 2.5em;
}